# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Databases and Local Data Cache
data/processed/jobs.db
data/processed/jobs.db-journal
data/processed/jobs.db-shm
data/processed/jobs.db-wal

# Jupyter Checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
